<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand">zhufengboke</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">shouye</a></li>
                <li><a href="/user/signup">zhuce</a></li>
                <li><a href="/user/signin">denglu</a></li>
                <li><a href="/user/signout">tuichu</a></li>
                <li><a href="/article/add">fawen</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">